modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && NODE_ENV=production node dist/server/index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 80
